:root {
  --text-color: #333;
  --main-color: #ffbd54;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Light.woff2") format("woff2"),
  url("../fonts/FuturaPT-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2"),
  url("../fonts/FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Medium.woff2") format("woff2"),
  url("../fonts/FuturaPT-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"),
  url("../fonts/FuturaPT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-ExtraBold.woff2") format("woff2"),
  url("../fonts/FuturaPT-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Heavy.woff2") format("woff2"),
  url("../fonts/FuturaPT-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Futura PT", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #F9F8F8;
  color: #333333;
  height: 100%;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1350px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .vetinary-clinic-main {
    background-image: url("../img/background-image@2x.png");
  }

  .pet-care-section {
    background-image: url("../img/pet@2x.png"), url("../img/pets@2x.png");
  }

  .address-link::before {
    background-image: url("../img/home@2x.png");
  }

  .tel-links::before {
    background-image: url("../img/phone@2x.png");
  }

  .open-dates::before {
    background-image: url("../img/schedule@2x.png");
  }
}

/* Header */

.company-address {
  display: flex;
  align-items: center;
  font-style: normal;
}

.company-address::before {
  width: 14px;
  height: 13px;
  margin-right: 9px;
  background-image: url("../img/home.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  content: "";
}

.phones {
  display: flex;
}

.phones--align-center {
  align-items: center;
}

.phones::before {
  width: 13px;
  height: 13px;
  margin-right: 9px;
  background-image: url("../img/phone.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  content: "";
}

.phones__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.phones__list--row {
  display: flex;
  flex-wrap: wrap;
}

.phones__item {
  position: relative;
  z-index: 1;
}

.phones__list--row .phones__item + .phones__item {
  margin-left: 22px;
}

.phones__list--row .phones__item + .phones__item::before {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  left: -13px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--main-color);
  content: "";
}

.phones__link {
  color: var(--text-color);
  text-decoration: none;
  white-space: nowrap;
}

.phones__link:hover {
  color: var(--main-color);
}

.phones__link:active {
  opacity: 0.5;
}

.work-hours {
  display: flex;
}

.work-hours::before {
  width: 14px;
  height: 14px;
  margin-right: 7px;
  background-image: url("../img/schedule.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  content: "";
}

.work-hours--align-center {
  align-items: center;
}

.work-hours__list {
  display: flex;
}

.work-hours__list--column {
  flex-direction: column;
}

.work-hours__line:first-child {
  margin-right: 17px;
}

.work-hours__time {
  font-weight: normal;
}

/* SITE-HEADER */

.site-header__top {
  padding: 10px;
  font-weight: 500;
  background-color: #F9F8F8;
}

.site-header__top-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 192px;
}






.vetinary-clinic-header {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.social-links-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 18px;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 100px;
  margin-left: auto;
  background-color: #F9F8F8;
}

.address-link {
  font-style: normal;
  margin-right: 106px;
}

.address-link::before,
.tel-links::before,
.open-dates::before,
.header-ask-question-link::before {
  display: inline-block;
  width: 14px;
  height: 13px;
  background-image: url("../img/home.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 9px;
  vertical-align: baseline;
  content: "";
}

.tel-links {
  margin-right: 98px;
}

.tel-links::before,
.footer-tel-links::before {
  width: 13px;
  background-image: url("../img/phone.png");
}

.tel-link,
.footer-tel-link {
  white-space: nowrap;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s ease,
  opacity 0.3s ease;
}

.tel-link:hover {
  color: #FFBD54;
}

.tel-link:active {
  color: #333333;
  opacity: 0.5;
}

.tel-link:not(:last-child)::after {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-left: 9px;
  margin-right: 9px;
  border-radius: 50%;
  background-color: #FFBD54;
  content: "";
}

.open-dates {
  display: flex;
  align-items: center;
}

.open-dates::before {
  width: 16px;
  height: 16px;
  background-image: url("../img/schedule.png");
  content: "";
}

.open-date {
  margin-top: 0;
  margin-bottom: 0;
}

.open-date:not(:last-child) {
  margin-right: 17px;
}

.header-part {
  background-color: #fff;
}

.header-part-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding-left: 200px;
  font-size: 16px;
  line-height: 21px;
}

.header-logo-link {
  transition: opacity 0.3s ease;
}

.header-logo-link:hover {
  opacity: 0.8;
}

.header-logo-link:active {
  opacity: 0.5;
}

.header-logo {
  width: 178px;
  height: 86px;
  display: block;
  position: absolute;
  z-index: 1;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.header-list,
.footer-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  text-align-last: left;
  flex-wrap: wrap;
  margin-left: 15px;
  margin-right: 120px;
}

.header-list {
  justify-content: center;
}

.header-item-active {
  position: relative;
  z-index: 1;
}

.header-item-active::before {
  position: absolute;
  z-index: 1;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
  background-image: url("../img/active.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  content: "";
}

.header-link,
.header-ask-question-link,
.footer-link {
  display: inline-block;
  vertical-align: baseline;
  padding: 19px 27px;
  color: #333333;
  text-decoration: none;
}

.header-link {
  transition: background-color 0.3s ease,
  opacity 0.3s ease;
}

.header-link:active {
  opacity: 0.5;
}

.header-link:hover {
  background-color: #FFBD54;
}

.header-ask-question-link::before,
.read-more-link::before {
  display: inline-block;
  width: 23px;
  height: 21px;
  margin-right: 5px;
  background-image: url("../img/pet.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  vertical-align: middle;
  content: "";
}

.header-ask-question-link {
  transition: background-color 0.3s ease,
  color 0.3s ease,
  opacity 0.3s ease;
}

.header-ask-question-link:hover {
  background-color: #333333;
  color: #ffffff;
}

.header-ask-question-link:active {
  opacity: 0.5;
}

@media only screen and (max-width: 1292px) {
  .social-links-wrapper,
  .header-part-wrapper {
    padding-left: 0;
    justify-content: space-between;
  }

  .address-link,
  .tel-links,
  .open-date:not(:last-child),
  .header-list {
    margin-right: 15px;
  }

  .header-item-active::before {
    left: 0;
  }

  .header-link,
  .header-ask-question-link {
    padding: 15px 18px;
  }

  .header-logo-link {
    margin-right: 69px;
  }

  .header-logo {
    flex-shrink: 0;
    width: 80px;
    height: auto;
    position: static;
    transform: none;
  }
}

@media only screen and (max-width: 1023px) {
  .header-ask-question-link {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media only screen and (max-width: 996px) {
  .header-ask-question-link {
    position: relative;
    z-index: 1;
    padding-left: 25px;
  }

  .header-ask-question-link::before {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

@media only screen and (max-width: 996px) {
  .social-links-wrapper {
    justify-content: inherit;
  }

  .address-link {
    margin-right: 100px;
  }

  .header-logo-link {
    margin-right: 35px;
  }

  .header-link {
    padding: 10px;
  }

  .header-item-active .header-link {
    padding-left: 20px;
  }

  .header-ask-question-link {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .address-link {
    margin-right: 50px;
  }
}

@media only screen and (max-width: 750px) {
  .tel-links {
    margin-right: 50px;
  }
}

@media only screen and (max-width: 494px) {
  .tel-links {
    display: flex;
    flex-wrap: wrap;
  }

  .header-logo-link {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 484px) {
  .tel-links {
    position: relative;
    z-index: 1;
    padding-left: 22px;
  }

  .tel-links::before {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 7px;
    transform: translateY(-50%);
  }
}

@media only screen and (max-width: 342px) {
  .header-link,
  .header-ask-question-link,
  .address-link,
  .tel-links,
  .open-dates {
    font-size: 12px;
    padding: 7px;
  }

  .tel-links {
    margin-right: 0;
    padding-left: 30px;
  }

  .tel-link {
    margin-right: 50px;
  }

  .header-item-active .header-link {
    padding-left: 20px;
  }

  .header-ask-question-link::before {
    left: -17px;
  }
}

/* Main */

.vetinary-clinic-main {
  flex-grow: 1;
  width: 100%;
  height: auto;
  background-image: url("../img/background-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

/* Pet care section */

.pet-care-section {
  background-image: url("../img/pet.png"), url("../img/pets.png");
  background-position: right bottom -40px, left top -100px;
  background-repeat: no-repeat;
}

.pet-care-section-wrapper {
  max-width: 608px;
  margin-left: auto;
  padding-top: 146px;
  padding-bottom: 290px;
  margin-right: 37px;
}

.pet-care-heading {
  margin-bottom: 29px;
  font-size: 70px;
  line-height: 64px;
}

.pet-care-heading span {
  color: #78C0DE;
}

.pet-care-text {
  max-width: 495px;
  margin-top: 0;
  margin-bottom: 37px;
  line-height: 21px;
  color: #949494;
}

.button {
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 21px;
}

.button-black {
  background-color: #333333;
  color: #ffffff;
  transition: background-color 0.3s ease,
  color 0.3s ease,
  opacity 0.3s ease;
}

.button-black:hover {
  background-color: #FFBD54;
  color: #333333;
}

.button-black:active {
  opacity: 0.5;
}

.pet-care-link {
  padding-left: 48px;
  padding-right: 48px;
}

@media only screen and (max-width: 1284px) {
  .pet-care-section {
    background-size: 200px auto, 400px auto;
  }
}

@media only screen and (max-width: 1034px) {
  .pet-care-section-wrapper {
    max-width: 426px;
  }

  .pet-care-heading {
    font-size: 50px;
  }
}

@media only screen and (max-width: 852px) {
  .pet-care-section-wrapper {
    max-width: 300px;
  }

  .pet-care-heading {
    font-size: 35px;
    line-height: 32px;
  }
}

@media only screen and (max-width: 728px) {
  .pet-care-section {
    background-size: 150px auto, 300px auto;
    background-position: right bottom, left top -45px;
  }
}

@media only screen and (max-width: 728px) {
  .pet-care-section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 300px;
    margin-right: auto;
  }
}

/* Blockquote section */

.blockquote-section-wrapper {
  position: relative;
  z-index: 1;
  max-width: 1134px;
  margin-right: 60px;
  margin-left: auto;
  margin-bottom: 185px;
  text-align: center;
}

.blockquote-section-wrapper::before,
.blockquote-section-wrapper::after {
  position: absolute;
  z-index: 1;
  display: inline-block;
  width: 70px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
}

.blockquote-section-wrapper::before {
  top: -25px;
  left: 55px;
  background-image: url("../img/blockquote-left.svg");
}

.blockquote-section-wrapper::after {
  bottom: 70px;
  right: 36px;
  background-image: url("../img/blockquote-right.svg");
}

.blockquote {
  display: flex;
  flex-direction: column;
  max-width: 753px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 26px;
  color: #949494;
}

.blockquote::before,
.blockquote::after {
  width: 140px;
  margin-left: auto;
  margin-right: auto;
  height: 0;
  border: 1px solid #dbdbdb;
  background-color: #dbdbdb;
  content: "";
}

.blockquote::before {
  margin-bottom: 43px;
}

.blockquote::after {
  margin-top: 35px;
  margin-bottom: 35px;
}

.blockquote-owner {
  font-size: 20px;
  line-height: 26px;
  margin: 0;
}

/* Our services */

.section-heading {
  text-align: center;
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 80px;
}

.our-services-slider {
  display: flex;
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding-left: 55px;
  padding-right: 55px;
}

.our-services-slider-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.our-services-slider-item {
  flex-shrink: 0;
  width: 193px;
  padding: 33px;
  background-color: #ffffff;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  margin-bottom: 14px;
}

.slider-item-active {
  height: 215px;
  margin-bottom: 0;
}

.our-services-slider-item {
  border: 1px solid transparent;
  transition: border 0.3s ease,
  opacity 0.3s ease;
}

.our-services-slider-item:hover {
  border: 1px solid #F3F3F3;
}

.our-services-slider-item:active {
  opacity: 0.5;
}

.our-services-slider-item:not(:last-child) {
  margin-right: 13px;
}

.our-services-slider-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.our-services-slider-item:hover .our-services-slider-link {
  color: #FFBD54;
}

.our-services-slider-link::before,
.services__item::before {
  display: block;
  height: 77px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 22px;
  content: "";
}

.our-services-slider-item:nth-child(1) .our-services-slider-link::before,
.services__item:nth-child(1)::before {
  width: 54px;
  background-image: url("../img/doctor.svg");
}

.our-services-slider-item:nth-child(2) .our-services-slider-link::before,
.services__item:nth-child(2)::before {
  width: 61px;
  background-image: url("../img/pet-nurse.svg");
}

.our-services-slider-item:nth-child(3) .our-services-slider-link::before,
.services__item:nth-child(3)::before {
  width: 72px;
  background-image: url("../img/pet-ill.svg");
}

.our-services-slider-item:nth-child(4) .our-services-slider-link::before,
.services__item:nth-child(4)::before {
  width: 76px;
  background-image: url("../img/dermatolog.svg");
}

.our-services-slider-item:nth-child(5) .our-services-slider-link::before,
.services__item:nth-child(5)::before {
  width: 78px;
  background-image: url("../img/laboratory.svg");
}

.our-services-slider-item:nth-child(6) .our-services-slider-link::before,
.services__item:nth-child(6)::before {
  width: 76px;
  background-image: url("../img/dogs.svg");
}

.our-services-slider-item:nth-child(7) .our-services-slider-link::before,
.services__item:nth-child(7)::before {
  width: 77px;
  background-image: url("../img/uzi-diagnostics.svg");
}

.our-services-slider-item:nth-child(8) .our-services-slider-link::before,
.services__item:nth-child(8)::before {
  width: 40px;
  background-image: url("../img/injection.svg");
}

.our-services-slider-item:nth-child(9) .our-services-slider-link::before,
.services__item:nth-child(9)::before {
  width: 86px;
  background-image: url("../img/international-passport.svg");
}

.our-services-slider-item:nth-child(10) .our-services-slider-link::before,
.services__item:nth-child(10)::before {
  width: 68px;
  background-image: url("../img/vacancies.svg");
}

.our-services-slider-item:nth-child(11) .our-services-slider-link::before,
.services__item:nth-child(11)::before {
  width: 78px;
  background-image: url("../img/teeth-injection.svg");
}

.our-services-slider-item:nth-child(7) .our-services-slider-link::before,
.services__item:nth-child(12)::before {
  width: 77px;
  background-image: url("../img/med-box.svg");
}

.slider-button {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  border: none;
  background: none;
  background-repeat: no-repeat;
  background-size: 14px 26px;
  background-position: center center;
  transition: background-color 0.3s ease,
  box-shadow 0.3s ease,
  opacity 0.3s ease;
}

.slider-button:hover {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.slider-button:active {
  opacity: 0.5;
}

.slider-button-prev {
  left: 0;
  background-image: url("../img/arrow-left.svg");
}

.slider-button-next {
  right: 0;
  background-image: url("../img/arrow-right.svg");
}

/* Doctor section */

.doctor-section {
  margin-bottom: 27px;
}

.doctor-section-wrapper {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 0px 5px 5px 5px;
  padding: 42px 35px;
}

.doctor-section-wrapper::before {
  display: inline-block;
  vertical-align: middle;
  width: 524px;
  height: 329px;
  background-image: url("../img/cat-doctor.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-right: 67px;
  content: "";
}

.doctor-section-content {
  max-width: 492px;
}

.doctor-section-heading {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 18px;
}

.doctor-section-text {
  margin-top: 0;
}

.doctor-section-text:nth-of-type(1) {
  margin-bottom: 9px;
}

.doctor-section-text:nth-of-type(2) {
  margin-bottom: 34px;
}

.doctor-section-links {
  display: flex;
}

.doctor-section-link,
.service-open__link,
.faq__question-link {
  padding-left: 36px;
  padding-right: 36px;
  border-radius: 3px;
}

.doctor-section-link:nth-of-type(1),
.service-open__link:nth-of-type(1) {
  margin-right: 21px;
}

.doctor-section-link::before,
.service-open__link::before,
.faq__question-link::before {
  display: inline-block;
  vertical-align: middle;
  width: 21px;
  height: 21px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 6px;
  content: "";
}

.doctor-section-link:nth-of-type(1)::before,
.service-open__link:nth-of-type(1)::before {
  background-image: url("../img/money.svg");
}

.doctor-section-link:nth-of-type(2)::before,
.service-open__link:nth-of-type(2)::before,
.faq__question-link::before {
  background-image: url("../img/document.svg");
}

.button-orange {
  background-color: #FFBD54;
  color: #ffffff;
  transition: background-color 0.3s ease,
  opacity 0.3s ease;
}

.button-orange:hover {
  background-color: #333333;
}

.button-orange:active {
  opacity: 0.5;
}


/* Be on course section */

.be-on-course {
  padding-top: 100px;
  padding-bottom: 120px;
  background-image: url("../img/dog-with-blue-background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 31px;
}

.be-on-course-wrapper {
  padding-top: 90px;
  padding-bottom: 88px;
  padding-left: 222px;
}

.be-on-course-heading {
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 32px;
  color: #ffffff;
}

.be-on-course-form {
  display: flex;
  flex-wrap: wrap;
}

.be-on-course-input {
  width: 335px;
  padding: 18px 0 12px 22px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid transparent;
  margin-right: 21px;
}

.input:valid {
  border: 1px solid #00B031;
  color: #00B031;
}

.input:not(:placeholder-shown):invalid {
  border: 1px solid #D81D04;
  color: #D81D04;
}

.input::placeholder {
  color: #949494;
}

.input:valid::placeholder {
  color: #00B031;
}

.be-on-course-btn {
  border: none;
  padding-left: 51px;
  padding-right: 51px;
}

/* Articles section */

.articles  {
  padding-bottom: 153px;
  margin-bottom: 109px;
}

.articles__heading {
  text-align: center;
}

.articles__wrapper {
  overflow: hidden;
  display: flex;
  margin-bottom: 50px;
}

.article {
  width: 305px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  border: 1px solid #E4E4E2;
  border-radius: 5px;
  background-color: #fff;
}

.article:not(:last-of-type) {
  margin-right: 24px;
}

.article__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 36px;
}

.article__date {
  margin-bottom: 2px;
}

.article__heading {
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 25px;
  color: #000000;
}

.article__img {
  width: 305px;
  height: 180px;
  display: block;
  object-fit: cover;
  border-radius: 5px 5px 0px 0px;
  margin-bottom: 21px;
}

.article__date {
  font-size: 14px;
  line-height: 18px;
  color: #949494;
  text-align: right;
}

.article__heading {
  margin-top: 0;
}

.article__text {
  flex-grow: 1;
  margin-top: 0;
  margin-bottom: 35px;
  color: #949494;
}

.read-more-link {
  align-self: flex-start;
  margin-top: auto;
  line-height: 21px;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s ease,
  opacity 0.3s ease;
}

.read-more-link::before,
.answer__information::before {
  display: inline-block;
  width: 23px;
  height: 21px;
  margin-right: 5px;
  background-image: url("../img/pet.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  vertical-align: middle;
  content: "";
}

.read-more-link:active {
  opacity: 0.5;
}

.hash-tag-time-wrapper {
  display: flex;
  margin-left: auto;
}

.article--active .hash-tag-time-wrapper {
  margin-left: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 29px;
}

.hash-tag-links {
  display: none;
}

.article--active .hash-tag-links {
  display: flex;
}

.hash-tag-link {
  font-size: 14px;
  line-height: 22px;
  color: #3D9CEA;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-right: 8px;
}

.hash-tag-link:hover,
.read-more-link:hover {
  color: #FFBD54
}
.hash-tag-link:active {
  color: rgba(255, 189, 84, 0.5);
}

.article--active {
  width: 640px;
  display: flex;
  flex-direction: row;
}

.article--active .article__img {
  height: 100%;
  border-radius: 5px 0px 0px 5px;
}

.article--active .article__content {
  padding: 41px 32px 36px;
}

.article--active .article__heading {
  margin-bottom: 15px;
  font-size: 26px;
  line-height: 29px;
}

.slider-button {
  width: 45px;
  height: 45px;
  border: none;
  background: none;
  background-repeat: no-repeat;
  background-size: 14px 26px;
  background-position: center center;
  transition: background-color 0.3s ease,
  box-shadow 0.3s ease,
  opacity 0.3s ease;
}

.slider-button:hover {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.slider-button:active {
  opacity: 0.5;
}

.slider-button-prev {
  margin-right: 15px;
  background-image: url("../img/arrow-left.svg");
}

.slider-button-next {
  margin-left: 15px;
  background-image: url("../img/arrow-right.svg");
}

.article__slider-counter {
  margin-left: 50px;
  font-size: 30px;
}

/* Connection section */

.connection {
  margin-bottom: 247px;
}

.connection-wrapper {
  display: flex;
  align-items: stretch;
}

.connection-address {
  width: 462px;
  flex-shrink: 0;
}

.connection-address-img {
  display: block;
  width: 462px;
  height: 652px;
}

.connection-content {
  width: calc(100% - 462px);
  padding: 62px 0 74px 165px;
  background-image: url("../img/fish-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #333333;
  color: #ffffff;
}

.connection-content-wrapper {
  max-width: 375px;
  display: flex;
  flex-direction: column;
}

.connection-form {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  line-height: 21px;
}

.connection-heading {
  margin-top: 0;
  margin-bottom: 14px;
  font-size: 48px;
  line-height: 62px;
}

.connection-text {
  color: #949494;
  margin-top: 0;
  margin-bottom: 30px;
}

.connection-form input {
  padding: 15px 22px;
  margin-bottom: 14px;
}

.connection-form-textarea {
  resize: vertical;
  min-height: 165px;
  padding: 17px 22px;
  margin-bottom: 30px;
}

.connection-form input::placeholder,
.connection-form-textarea::placeholder {
  color: #949494;
  line-height: 21px;
}

.connection-form .button {
  padding-left: 50px;
  padding-right: 50px;
  align-self: start;
  border: none;
}

/* Footer */

.vetinary-clinic-footer {
  background-color: #F3F3F3;
  border: 1px solid #EBEBEB;
  padding-top: 54px;
  padding-bottom: 23px;
}

.vetinary-clinic-footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 28px;
}

.footer-logo {
  display: inline-block;
  vertical-align: middle;
  width: 158px;
  height: 77px;
}

.footer-list {
  justify-content: space-between;
  max-width: 288px;
  margin-left: 0;
  margin-right: 0;
}

.footer-item {
  width: 130px;
  margin-bottom: 16px;
}

.footer-link {
  padding: 0;
}

.vetinary-clinic-footer-wrapper .open-dates {
  max-width: 176px;
  flex-wrap: wrap;
}

.vetinary-clinic-footer-wrapper .open-date:last-child {
  margin-left: 25px;
}

.vetinary-clinic-footer-wrapper .address-link {
  display: flex;
  max-width: 180px;
  margin-right: 0;
}

.vetinary-clinic-footer-wrapper .address-link::before {
  display: block;
  width: 31px;
  height: 16px;
}

.footer-tel-links {
  max-width: 147px;
  display: flex;
  flex-wrap: wrap;
}

.footer-tel-links::before {
  display: block;
  width: 16px;
  height: 16px;
  content: "";
  background-repeat: no-repeat;
  margin-right: 9px;
}

.footer-tel-link:not(:first-child) {
  margin-left: 25px;
}

/* ==========   VETINARY CLINIC PAGES   ========== */

/* OUR SERVICES PAGE */

.our-services {
  padding-top: 110px;
  padding-bottom: 140px;
  background-image: url("../img/green-bird.png");
  background-size: 453px 435px;
  background-repeat: no-repeat;
  background-position: center right;
}

.our-services__content {
  max-width: 447px;
  margin-left: 112px;
}

.our-services__heading {
  font-size: 70px;
  line-height: 64px;
  margin-top: 0;
  margin-bottom: 21px;
}

.our-services__text {
  color: #949494;
  margin: 0;
}

@media only screen and (max-width: 973px) {
  .our-services__content {
    margin-left: 0;
  }
}

@media only screen and (max-width: 893px) {
  .our-services {
    background-size: 390px auto;
  }

  .our-services__content {
    max-width: 350px;
  }

  .our-services__heading {
    font-size: 50px;
    line-height: 40px;
  }
}

@media only screen and (max-width: 708px) {
  .our-services {
    background-size: 340px auto;
  }
}

@media only screen and (max-width: 653px) {
  .our-services__content {
    max-width: 280px;
  }

  .our-services__heading {
    font-size: 40px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 622px) {
  .our-services {
    background-size: 300px auto;
  }

  .our-services__text {
    font-size: 14px;
    line-height: 16px;
  }
}

@media only screen and (max-width: 547px) {
  .our-services__content {
    max-width: 200px;
  }

  .our-services__heading {
    font-size: 32px;
    line-height: 18px;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 499px) {
  .our-services {
    background-size: 250px auto;
  }
}

@media only screen and (max-width: 460px) {
  .our-services {
    background: none;
  }

  .our-services__content {
    margin-left: auto;
    margin-right: auto;
  }
}

/* SERVICES SECTION */

.services {
  margin-bottom: 169px;
}

.services__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-left: -29px;
}

.services__item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 300px;
  margin-left: 29px;
  margin-bottom: 33px;
  padding: 50px 22px 45px 45px;
  background-color: #fff;
  background-image: url("../img/paw-services-item.png");
  background-size: 108px 94px;
  background-repeat: no-repeat;
  background-position: top right;
  border-radius: 5px 5px 0px 0px;
  transition: filter 0.2s ease;
}

.services__item:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
}

.services__heading {
  font-size: 32px;
  line-height: 34px;
  margin-top: 0;
  margin-bottom: 14px;
}

.services__text {
  color: #949494;
  margin-top: 0;
  margin-bottom: 26px;
}

.services__learn-more-btn {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 3px;
  color: #FFFFFF;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s ease;
}

.services__item:nth-child(even) .services__learn-more-btn {
  background-color: #78C0DE;
}

.services__item:nth-child(odd) .services__learn-more-btn {
  background-color: #FFBD54;
}

.services__item:hover .services__learn-more-btn {
  background-color: #333333;
}

@media only screen and (max-width: 973px) {
  .services__item {
    width: 200px;
    padding: 20px;
  }

  .services__content::before {
    width: auto;
    height: 65px;
    margin-bottom: 15px;
  }

  .services__heading {
    font-size: 22px;
    line-height: 26px;
  }

  .services__text,
  .services__learn-more-btn {
    font-size: 14px;
    line-height: 16px;
  }

  .services__learn-more-btn {
    padding: 10px 15px;
  }
}

@media only screen and (max-width: 697px) {
  .services__item {
    width: 250px;
  }

  .services__heading {
    font-size: 24px;
    line-height: 28px;
  }
}

@media only screen and (max-width: 568px) {
  .services__item {
    width: 300px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
  }

  .services__heading {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .services__learn-more-btn {
    padding: 12px 25px;
  }
}

@media only screen and (max-width: 400px) {
  .services__item {
    width: 230px;
    padding: 25px 15px;
  }
}

/* ========== SERVICES OPEN PAGE ========== */

/* ========== FAQ page ========== */

.faq {
  margin-left: 112px;
  margin-top: 51px;
  padding-top: 60px;
  padding-bottom: 221px;
  margin-bottom: 49px;
  background-image: url("../img/kitten-cat.png"), url("../img/rosy-faced-bird.png");
  background-repeat: no-repeat;
  background-size: 499px 474px, 524px 652px;
  background-position: top right, bottom right;
}

.faq__content {
  max-width: 447px;
  margin-bottom: 63px;
}

.faq__heading {
  font-size: 70px;
  line-height: 64px;
  margin-top: 0;
  margin-bottom: 27px;
}

.faq__text {
  color: #949494;
  margin-top: 0;
  margin-bottom: 35px;
}

.faq__question-link {
  background-color: #78C0DE;
  color: #ffffff;
}

.answers__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.answer {
  position: relative;
  z-index: 1;
  max-width: 752px;
  background-color: #ffffff;
  padding: 18px 0 32px 63px;
  margin-bottom: 18px;
  border-radius: 5px;
  border: 1px solid #F3F3F3;
}

.answer--process {
  opacity: 0.6;
}

.answer__left {
  padding-right: 112px;
}

.answer__information {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.answer:nth-child(odd) .answer__information::before {
  background-image: url("../img/paw-orange.svg");
}

.answer:nth-child(even) .answer__information::before {
  background-image: url("../img/paw-blue.svg");
}

.answer__date {
  font-size: 14px;
  line-height: 22px;
  margin-right: 28px;
}

.answer__owner {
  font-weight: 500;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 22px;
  color: #78C0DE;
}

.answer__question {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  margin: 0;
}

.answer--active .answer__question {
  margin-bottom: 23px;
}

.answer__text {
  display: none;
  color: #949494;
  margin-top: 0;
  margin-bottom: 33px;
}

.answer--active .answer__text {
  display: block;
}

.answer--process .answer--process-span {
  position: absolute;
  z-index: 1;
  top: 57px;
  right: 39px;
  width: 21px;
  height: 21px;
  background-image: url("../img/clock.png");
  background-size: 21px 21px;
  background-repeat: no-repeat;
  background-position: center center;
}

.answer__show-button {
  position: absolute;
  z-index: 1;
  top: 57px;
  right: 41px;
  width: 9px;
  height: 16px;
  border: none;
  background: none;
  background-image: url("../img/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 9px 16px;
  transform: rotate(-90deg);
}

.answer--active .answer__show-button {
  transform: rotate(90deg);
}

.answer--process .answer__show-button {
  display: none;
}
